/* Write your CSS here */
.light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #000000;
  color: #ffffff;
}
.homeImg {
  height: 35vh;
  width: 18vw;
}
